.notion-scroller > div:first-child > div:first-child {
  position: relative !important;
  margin-top: 20px;
}

/* Position first block in top right of body */
@media only screen and (min-width: 50em) {
  [data-block-id="5e31f36b-cbaa-41d4-b086-01731b0fb722"] {
    text-align: right;
    margin-top: -5.825rem !important;
    font-size: 2.3rem;
  }
}

/* Founder & CEO... */
[data-block-id="433914b8-fa5a-4b87-94e5-3d0e59c82a3a"] {
  font-size: 0.875rem;
  margin-top: -2rem !important;
}

/* Founder & CEO... Canopy study img */
[data-block-id="433914b8-fa5a-4b87-94e5-3d0e59c82a3a"] img:first-child {
  background: none !important;
  content: url("https://www.canopystudy.com/_nuxt/img/canopy-logo-small-dark.df4fd55.png") !important;
}

/* Register here to get ... */
[data-block-id="9213f583-c7a6-415d-bc76-17779d2c7b74"],
/* Made with Notion... */
[data-block-id="4282c896-b694-400a-8295-5177112d2b67"] {
  text-align: center;
  font-size: 0.875rem;
}

/* Register here to get ... remove emoji*/
[data-block-id="9213f583-c7a6-415d-bc76-17779d2c7b74"]
  > div
  > div
  > div:first-child {
  display: none;
}

/* Thanks for coming */
[data-block-id="d7775caa-37ee-4cf4-b3b4-561ce432664e"] {
  text-align: center;
  margin-bottom: -5.4rem !important;
}

/* Thanks for coming */
[data-block-id="b2c92fa8-2ab2-4b0c-a464-9feb6fa1435c"] {
  text-align: right;
}

/* Thanks for coming EMOJI */
[data-block-id="d7775caa-37ee-4cf4-b3b4-561ce432664e"] > div > div > img,
/* Find me on these platforms EMOJI */ 
[data-block-id="a3e46af5-0ef6-4c42-8b66-86ace2c4ba1e"] > div > div > div > img {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
